.card {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    margin-top: 100px;
    padding: 15px;
    transition: .2s all;
}

.card:hover {
    box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19)
}

.card-img {
    position: relative;
    width: 350px;
    height: 340px;
}

.card-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.un-stock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 24px;
    color: rgba(141, 143, 154, 1);
}

.card-img > img{
    width: 350px;
    height: 340px;
    object-fit: cover;
}

.un-stock-card img {
    opacity: 0.5;
}

.card-content {
    margin-top: 24px;
    line-height: 1.5;
}

.card-name {
    font-weight: 300;
    font-style: 18px;
}

.un-stock-card .card-name {
    color: rgba(141, 143, 154, 1);
}

.card-price {
    font-size: 18px;
    font-weight: 500;
}

.un-stock-card .card-price {
    color:rgba(141, 143, 154, 1)
}

.shopping-cart-card {
    position: absolute;
    bottom: -25px;
    padding: 14px;
    background: #5ECE7B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    opacity: 0;
    transition: .2s all;
}

.shopping-cart-card img {
    color: #fff;
}

.card:hover .shopping-cart-card {
    opacity: 1;
}