.search-panel {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 80px;
}

.search-panel-container {
    width: 100%;
    position: relative;
}

.search {
    position: absolute;
    right: 9px;
    top: 8px;
    cursor: pointer;
}

.search-field {
    pointer-events: none;
    width: 25px;
    border: 1px solid rgba(166, 166, 166, 1);
    border-radius: 50%;
    outline: none;
    margin-right: 5px;
    padding: 5px;
    transition: .2s all;
}

.search-field.active {
    pointer-events: auto;
    width: 200px;
    border-radius: 5px;
}