header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 80px;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 1150px;
}

.end-header {
    display: flex;
    justify-content: center;
    align-items: center;
}